<div>
    <div class="col-lg-8" style="margin-bottom: 100px">
        <div class="tabs-container">
        <ul class="nav tab-nav" id="pills-tab">
            <li class="item">
                <a class="link active" id="pills-home-tab" data-toggle="pill" href="#pills-nouns"aria-selected="true" style="height:40px !important; line-height: 40px !important; font-size: 12px !important">Nouns</a>
            </li>
            <li class="item">
                <a class="link" id="pills-home-tab" data-toggle="pill" href="#pills-verbs"aria-selected="true" style="height:40px !important; line-height: 40px !important; font-size: 12px !important">Verbs</a>
            </li>
            <li class="item">
                <a class="link" id="pills-home-tab" data-toggle="pill" href="#pills-adjectives"aria-selected="true" style="height:40px !important; line-height: 40px !important; font-size: 12px !important">Adjectives</a>
            </li>
            <li class="item">
                <a class="link" id="pills-home-tab" data-toggle="pill" href="#pills-adverbs"aria-selected="true" style="height:40px !important; line-height: 40px !important; font-size: 12px !important">Adverbs</a>
            </li>
            <li class="item">
                <a class="link" id="pills-home-tab" data-toggle="pill" href="#pills-pronouns"aria-selected="true" style="height:40px !important; line-height: 40px !important; font-size: 12px !important">Pronouns</a>
            </li>
            <li class="item">
                <a class="link" id="pills-home-tab" data-toggle="pill" href="#pills-prepositions"aria-selected="true" style="height:40px !important; line-height: 40px !important; font-size: 12px !important">Prepositions</a>
            </li>
            <li class="item">
                <a class="link" id="pills-home-tab" data-toggle="pill" href="#pills-conjunctions"aria-selected="true" style="height:40px !important; line-height: 40px !important; font-size: 12px !important">Conjunctions</a>
            </li>
        </ul>
        <form [formGroup]="wordForm" (ngSubmit)="onSubmit()">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="pills-nouns">
                        <h4 class="title">Nouns</h4>
                        <table style="margin:0px !important">
                            <tr>
                                <td>
                                    <input id="wordPrefixNoun" type="text" formControlName="wordPrefixNoun" (change)="loadWordsByNameNouns(wordPrefixNoun.value)" class="form-control" placeholder="Nouns" style="width:300px;">
                                </td>
                                <td style="padding-bottom: 18px">
                                    <button class="btn btn-primary mt-3" (click)="loadWordsByNameNouns(wordPrefixNoun.value)" style="width: 200px;">Search Dictionary Words</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <select *ngIf="!WordsByNameNounsList || WordsByNameNounsList.length > 0" style="width: 300px" class="form-control" formControlName="wordNoun" id="wordNoun">
                                            <option selected value="">Please Select Word</option>
                                            <option scope="row" *ngFor="let word of WordsByNameNounsList" [value]="word.word">{{word.word}}</option>
                                        </select>
                                    </div>
                                </td>
                                <td style="padding-bottom: 34px">
                                    <button class="btn btn-primary mt-3" [disabled]="!WordsByNameNounsList || WordsByNameNounsList.length > 0" style="width: 200px" (click)="postWordNoun(wordPrefixNoun.value)">Add Dictionary Word</button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center">
                                    <button class="btn btn-primary mt-3" style="width: 300px" (click)="addWordNounToSentence(wordNoun.value)">Add Word To Sentence</button>
                                </td>
                            </tr>
                        </table>
                </div>
                <div class="tab-pane fade" id="pills-verbs">
                    <h4 class="title">Verbs</h4>
                    <table style="margin:0px !important">
                        <tr>
                            <td>
                                <input id="wordPrefixVerb" type="text" formControlName="wordPrefixVerb" (change)="loadWordsByNameVerbs(wordPrefixVerb.value)" class="form-control" placeholder="Verbs" style="width:300px;">
                            </td>
                            <td style="padding-bottom: 18px">
                                <button class="btn btn-primary mt-3" (click)="loadWordsByNameVerbs(wordPrefixVerb.value)" style="width: 200px;">Search Dictionary Words</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <select *ngIf="!WordsByNameVerbsList || WordsByNameVerbsList.length > 0" style="width: 300px" class="form-control" formControlName="wordVerb" id="wordVerb">
                                        <option selected value="">Please Select Word</option>
                                        <option scope="row" *ngFor="let word of WordsByNameVerbsList" [value]="word.word">{{word.word}}</option>
                                    </select>
                                </div>
                            </td>
                            <td style="padding-bottom: 34px">
                                <button class="btn btn-primary mt-3" [disabled]="!WordsByNameVerbsList || WordsByNameVerbsList.length > 0" style="width: 200px" (click)="postWordVerb(wordPrefixVerb.value)">Add Dictionary Word</button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center">
                                <button class="btn btn-primary mt-3" style="width: 300px" (click)="addWordVerbToSentence(wordVerb.value)">Add Word To Sentence</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="tab-pane fade" id="pills-adjectives">
                    <h4 class="title">Adjectives</h4>
                    <table style="margin:0px !important">
                        <tr>
                            <td>
                                <input id="wordPrefixAdjective" type="text" formControlName="wordPrefixAdjective" (change)="loadWordsByNameAdjectives(wordPrefixAdjective.value)" class="form-control" placeholder="Adjectives" style="width:300px;">
                            </td>
                            <td style="padding-bottom: 18px">
                                <button class="btn btn-primary mt-3" (click)="loadWordsByNameAdjectives(wordPrefixAdjective.value)" style="width: 200px;">Search Dictionary Words</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <select *ngIf="!WordsByNameAdjectivesList || WordsByNameAdjectivesList.length > 0" style="width: 300px" class="form-control" formControlName="wordAdjective" id="wordAdjective">
                                        <option selected value="">Please Select Word</option>
                                        <option scope="row" *ngFor="let word of WordsByNameAdjectivesList" [value]="word.word">{{word.word}}</option>
                                    </select>
                                </div>
                            </td>
                            <td style="padding-bottom: 34px">
                                <button class="btn btn-primary mt-3" [disabled]="!WordsByNameAdjectivesList || WordsByNameAdjectivesList.length > 0" style="width: 200px" (click)="postWordAdjective(wordPrefixAdjective.value)">Add Dictionary Word</button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center">
                                <button class="btn btn-primary mt-3" style="width: 300px" (click)="addWordAdjectiveToSentence(wordAdjective.value)">Add Word To Sentence</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="tab-pane fade" id="pills-adverbs">
                    <h4 class="title">Adverbs</h4>
                    <table style="margin:0px !important">
                        <tr>
                            <td>
                                <input id="wordPrefixAdverb" type="text" formControlName="wordPrefixAdverb" (change)="loadWordsByNameAdverbs(wordPrefixAdverb.value)" class="form-control" placeholder="Adverbs" style="width:300px;">
                            </td>
                            <td style="padding-bottom: 18px">
                                <button class="btn btn-primary mt-3" (click)="loadWordsByNameAdverbs(wordPrefixAdverb.value)" style="width: 200px;">Search Dictionary Words</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <select *ngIf="!WordsByNameAdverbsList || WordsByNameAdverbsList.length > 0" style="width: 300px" class="form-control" formControlName="wordAdverb" id="wordAdverb">
                                        <option selected value="">Please Select Word</option>
                                        <option scope="row" *ngFor="let word of WordsByNameAdverbsList" [value]="word.word">{{word.word}}</option>
                                    </select>
                                </div>
                            </td>
                            <td style="padding-bottom: 34px">
                                <button class="btn btn-primary mt-3" [disabled]="!WordsByNameAdverbsList || WordsByNameAdverbsList.length > 0" style="width: 200px" (click)="postWordAdverb(wordPrefixAdverb.value)">Add Dictionary Word</button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center">
                                <button class="btn btn-primary mt-3" style="width: 300px" (click)="addWordAdverbToSentence(wordAdverb.value)">Add Word To Sentence</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="tab-pane fade" id="pills-pronouns">
                    <h4 class="title">Pronouns</h4>
                    <table style="margin:0px !important">
                        <tr>
                            <td>
                                <input id="wordPrefixPronoun" type="text" formControlName="wordPrefixPronoun" (change)="loadWordsByNamePronouns(wordPrefixPronoun.value)" class="form-control" placeholder="Pronouns" style="width:300px;">
                            </td>
                            <td style="padding-bottom: 18px">
                                <button class="btn btn-primary mt-3" (click)="loadWordsByNamePronouns(wordPrefixPronoun.value)" style="width: 200px;">Search Dictionary Words</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <select *ngIf="!WordsByNamePronounsList || WordsByNamePronounsList.length > 0" style="width: 300px" class="form-control" formControlName="wordPronoun" id="wordPronoun">
                                        <option selected value="">Please Select Word</option>
                                        <option scope="row" *ngFor="let word of WordsByNamePronounsList" [value]="word.word">{{word.word}}</option>
                                    </select>
                                </div>
                            </td>
                            <td style="padding-bottom: 34px">
                                <button class="btn btn-primary mt-3" [disabled]="!WordsByNamePronounsList || WordsByNamePronounsList.length > 0" style="width: 200px" (click)="postWordPronoun(wordPrefixPronoun.value)">Add Dictionary Word</button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center">
                                <button class="btn btn-primary mt-3" style="width: 300px" (click)="addWordPronounToSentence(wordPronoun.value)">Add Word To Sentence</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="tab-pane fade" id="pills-prepositions">
                    <h4 class="title">Prepositions</h4>
                    <table style="margin:0px !important">
                        <tr>
                            <td>
                                <input id="wordPrefixPreposition" type="text" formControlName="wordPrefixPreposition" (change)="loadWordsByNamePrepositions(wordPrefixPreposition.value)" class="form-control" placeholder="Prepositions" style="width:300px;">
                            </td>
                            <td style="padding-bottom: 18px">
                                <button class="btn btn-primary mt-3" (click)="loadWordsByNamePrepositions(wordPrefixPreposition.value)" style="width: 200px;">Search Dictionary Words</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <select *ngIf="!WordsByNamePrepositionsList || WordsByNamePrepositionsList.length > 0" style="width: 300px" class="form-control" formControlName="wordPreposition" id="wordPreposition">
                                        <option selected value="">Please Select Word</option>
                                        <option scope="row" *ngFor="let word of WordsByNamePrepositionsList" [value]="word.word">{{word.word}}</option>
                                    </select>
                                </div>
                            </td>
                            <td style="padding-bottom: 34px">
                                <button class="btn btn-primary mt-3" [disabled]="!WordsByNamePrepositionsList || WordsByNamePrepositionsList.length > 0" style="width: 200px" (click)="postWordPreposition(wordPrefixPreposition.value)">Add Dictionary Word</button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center">
                                <button class="btn btn-primary mt-3" style="width: 300px" (click)="addWordPrepositionToSentence(wordPreposition.value)">Add Word To Sentence</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="tab-pane fade" id="pills-conjunctions">
                    <h4 class="title">Conjunctions</h4>
                    <table style="margin:0px !important">
                        <tr>
                            <td>
                                <input id="wordPrefixConjunction" type="text" formControlName="wordPrefixConjunction" (change)="loadWordsByNameConjunctions(wordPrefixConjunction.value)" class="form-control" placeholder="Conjunctions" style="width:300px;">
                            </td>
                            <td style="padding-bottom: 18px">
                                <button class="btn btn-primary mt-3" (click)="loadWordsByNameConjunctions(wordPrefixConjunction.value)" style="width: 200px;">Search Dictionary Words</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <select *ngIf="!WordsByNameConjunctionsList || WordsByNameConjunctionsList.length > 0" style="width: 300px" class="form-control" formControlName="wordConjunction" id="wordConjunction">
                                        <option selected value="">Please Select Word</option>
                                        <option scope="row" *ngFor="let word of WordsByNameConjunctionsList" [value]="word.word">{{word.word}}</option>
                                    </select>
                                </div>
                            </td>
                            <td style="padding-bottom: 34px">
                                <button class="btn btn-primary mt-3" [disabled]="!WordsByNameConjunctionsList || WordsByNameConjunctionsList.length > 0" style="width: 200px" (click)="postWordConjunction(wordPrefixConjunction.value)">Add Dictionary Word</button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center">
                                <button class="btn btn-primary mt-3" style="width: 300px" (click)="addWordConjunctionToSentence(wordConjunction.value)">Add Word To Sentence</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="col-lg-4 d-none d-lg-block align-self-center" style="top: 89px; position: absolute; left: 700px">
                <table>
                    <tr>
                        <td align="left">
                            <textarea class="form-control" style="width:450px;height:145px;font-size:12px" formControlName="sentenceControl" (change)="changeSentence(sentenceControl.value)">{{sentence}}</textarea>
                        </td>
                    </tr>
                    
                    <tr>
                        <td align="center">
                            <button class="btn btn-primary mt-3" style="width: 400px" [disabled]="sentenceControl.value.trim().length === 0" (click)="postSentenceToDatabase(sentenceControl.value)">Add Sentence To Database</button>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
    <div class="container" style="width:1000px">
        <div class="row justify-content-between">
            <div>
                <form [formGroup]="sentenceForm" (ngSubmit)="onSubmit()">
                    <h6 class="title">Sentences</h6>
                    <p>Listing of all sentences in Database</p>
                    <ul class="list-unstyled mt-4" *ngFor="let sentence of SentencesList">
                        <li class="media" style="height:10px">
                            <div class="circle-40 mr-3 mt-1" style="width: 28px !important; height: 28px !important; line-height:26px !important"><i class="ti-face-smile"></i></div>
                            <div class="media-body" style="padding-top: 6px">
                                <p style="font-size: 14px">{{sentence.sentence}}</p>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>

</div>

