<div class="container wrapper">
    <form [formGroup]="wordForm" (ngSubmit)="onSubmit()">
            <div class="row">
            <div class="col-md-12">
                <div class="inner">
                    <h4>Nouns</h4>
                    <div>
                        <label for="name">
                        Nouns:
                        </label>
                        <input id="wordPrefixNoun" type="text" formControlName="wordPrefixNoun" (change)="loadWordsByNameNouns(wordPrefixNoun.value)">
                        <button class="button" (click)="loadWordsByNameNouns(wordPrefixNoun.value)">Get Words</button>
                        <select *ngIf="!WordsByNameNounsList || WordsByNameNounsList.length > 0">
                            <option scope="row" *ngFor="let word of WordsByNameNounsList">{{word.word}}</option>
                        </select>
                        <button class="button" [disabled]="!WordsByNameNounsList || WordsByNameNounsList.length > 0">Add Word</button>
                    </div>
                    <br /><br />
                </div>
            </div>
        </div>
    </form>
</div>
