<div class="container wrapper">
    <div class="row">
        <!-- Issue table -->
        <div class="col-md-12">
            <div class="inner">
                <h3>Words</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Word</th>
                            <th scope="col">Parts of Speech</th>
                            <th scope="col">Definition</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let word of WordsList">
                            <th scope="row">{{word.word}}</th>
                            <td>{{word.wordtype}}</td>
                            <td>{{word.definition}}</td>
                            <td>
                                <!-- <button type="button" class="btn btn-success btn-sm move-right" [routerLink]="['/edit-issue/', issues.id]">Edit</button>
                                <button type="button" class="btn btn-danger btn-sm" (click)="deleteIusse(issues)">Remove</button> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
